<h1>Sign Up Below:</h1>
<form action='/registrations' method="POST">
<label for="name">  <input type="text" name="name"><br>
<label for="password">  <input type="text" name="password"><br>
<label for="email">  <input type="text" name="email"><br>
  <input type="submit" id="submit"><br>

</form>
